/* Top menu bar */
.sub_top_nav_T{width:99.8%;
background: #666666; /* Old browsers */
background: -moz-linear-gradient(top,  #666666 0%, #333333 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#666666), color-stop(100%,#333333)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #666666 0%,#333333 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #666666 0%,#333333 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #666666 0%,#333333 100%); /* IE10+ */
background: linear-gradient(to bottom,  #666666 0%,#333333 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#666666', endColorstr='#333333',GradientType=0 ); /* IE6-9 */
height:34px; float:left;behavior: url(PIE.htc);border-radius:3px 3px 0px 0px;-moz-border-radius:3px 3px 0px 0px;-webkit-border-radius:3px 3px 0px 0px;-khtml-border-radius:3px 3px 0px 0px;-o-border-radius:3px 3px 0px 0px;-ms-border-radius:3px 3px 0px 0px;-icab-border-radius:3px 3px 0px 0px; border:1px solid #333333; border-bottom:0;}

.sub_top_nav_T_item {
    height:32px; color:white; padding:9px 14px 0px 14px; cursor:pointer ; 
    border-bottom-right-radius:0px !important;
    border-bottom-left-radius:0px !important;
    border-top-right-radius:0px !important;
    border-top-left-radius:0px !important;   
    background-color:transparent !important;
    background-image:none !important;
    border:none !important;    
}
.sub_top_nav_T_item:hover { background:#f6f6f6; color:#000000;}  
.sub_top_nav_T_separator { height:34px; width:3px; }
.sub_top_nav_T_item .x-btn-inner { color:white; }
.sub_top_nav_T_item:hover .x-btn-inner { color:black; }
.sub_top_nav_T_item.x-btn-default-small:hover { background-color:#f6f6f6 !important; }
.sub_top_nav_T_item .x-btn-arrow.x-btn-arrow-right {   
    background-image:none !important;
    background-color:transparent !important;
    padding-right:0px;
}

/* Top toolbar */

.sub_top_nav_B{width:99.8%;background: #e7e7e7; /* Old browsers */
background: -moz-linear-gradient(top,  #e7e7e7 0%, #c8c6c6 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e7e7e7), color-stop(100%,#c8c6c6)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #e7e7e7 0%,#c8c6c6 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #e7e7e7 0%,#c8c6c6 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #e7e7e7 0%,#c8c6c6 100%); /* IE10+ */
background: linear-gradient(to bottom,  #e7e7e7 0%,#c8c6c6 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e7e7e7', endColorstr='#c8c6c6',GradientType=0 ); /* IE6-9 */
height:30px; border:1px solid #999999; border-top:0px; padding: 0px 0px 0px 10px !important;}

.sub_top_nav_T_icon  
{
    height:32px; padding:7px 6px 0px 6px; cursor:pointer ;  
    border-bottom-right-radius:0px !important;
    border-bottom-left-radius:0px !important;
    border-top-right-radius:0px !important;
    border-top-left-radius:0px !important; 
    top:0px !important;  
    background-color:transparent;
    background-image:none !important;    
    border-width:1px;     
    border-style:solid;
    border-color:transparent;
}
.sub_top_nav_T_icon:hover
{
     background-color:#f6f6f6;
     border-left-color:#999999; border-right-color:#999999;     
}

.sub_top_nav_B ul{margin:0; padding:0 0 0 7px;}
.sub_top_nav_B ul li{float:left;}
.sub_top_nav_B ul li h4{margin-top:7px; float:left;}
.sub_top_nav_B ul li a{float:left; padding:7px 8px;}
.sub_top_nav_B ul li a span.save-icon{background:url(../images/sprite.png) no-repeat -302px 0; width:15px; height:16px; float:left;}
.sub_top_nav_B ul li a span.reset-icon{background:url(../images/sprite.png) no-repeat -318px 0; width:15px; height:16px; float:left;}
.sub_top_nav_B ul li a span.new-window-icon{background:url(../images/sprite.png) no-repeat -334px 0; width:17px; height:16px; float:left;}
.sub_top_nav_B ul li a span.print-icon{background:url(../images/sprite.png) no-repeat -353px 0; width:18px; height:16px; float:left;}
.sub_top_nav_B ul li a span.refresh-icon{background:url(../images/sprite.png) no-repeat -371px 0; width:16px; height:16px; float:left;}
.sub_top_nav_B ul li a span.history-icon{background:url(../images/sprite.png) no-repeat -389px 0; width:22px; height:16px; float:left;}
.sub_top_nav_B ul li a img{position:relative; top:7px; float:left}
.sub_top_nav_B ul li a span img{margin:7px 0 0 20px; display:block;}
.sub_top_nav_B ul li a span.search-icon{background:url(../images/sprite.png) no-repeat -453px 0; width:22px; height:16px; float:left;}
.sub_top_nav_B ul li a span.bookmark-icon{background:url(../images/sprite.png) no-repeat -482px 0; width:16px; height:16px; float:left;}

#menu ul.sub-menu2 {list-style: none;margin:31px 0 0 -1px; min-width:470px;padding: 0;display: none;position: absolute;left:0px;border:1px solid #999999;border-top:0px;-webkit-box-shadow:  1px 2px 1px 0px rgba(178, 178, 178, 10);box-shadow:  1px 2px 1px 0px rgba(178, 178, 178, 10);behavior: url(PIE.htc);}
.sub_top_nav_B ul.nav_icon_dd#menu li.icon_dropdown ul.sub-menu2{z-index:1006;}
#menu ul.sub-menu2 li{background:#f6f6f6 !important; border-bottom:0;}
#menu ul.sub-menu2 li a{padding:7px 12px; width:auto;}
#menu ul.sub-menu2 li a img{top:0; margin:-3px 0 0 0;}
.sub_top_nav_B ul.nav_icon_dd{float:left;}

.sub_top_nav_B ul.nav_icon_dd li:hover{background:#f6f6f6;border-left:1px solid grey;border-right:1px solid grey;}
.sub_top_nav_B ul.nav_icon_dd li.icon_dropdown:hover{background:#f6f6f6;border-left:1px solid grey;border-right:1px solid grey; border-bottom:1px solid #f7f7f7; padding-bottom:1px;}
.sub_top_nav_B ul.nav_icon_dd li:hover > a{padding:7px 7px;}
.sub_top_nav_B ul.nav_icon_dd li.nav_icon_dd_sep{}
.sub_top_nav_B ul.nav_icon_dd li.nav_icon_dd_sep:hover{border:0; background:none;}

.sub_top_nav_B ul li a:hover{background:#f6f6f6;}

#menu ul.submenu-filter1 {list-style: none;margin:32px 0 0 -1px; min-width:140px;padding: 0;display: none;position: absolute;left:0px;border:1px solid #999999;border-top:0px;-webkit-box-shadow:  1px 2px 1px 0px rgba(178, 178, 178, 10);box-shadow:  1px 2px 1px 0px rgba(178, 178, 178, 10);behavior: url(PIE.htc);}
#menu ul.submenu-filter1 li{background:#f6f6f6 !important; border-bottom:0;}
#menu ul.submenu-filter1 li a{padding:7px 12px; width:auto;text-align:left;}
.filter_options ul#menu li:hover > a{background:#f6f6f6;}
.filter_options ul#menu li.filter_submenu:hover > a{background:#f6f6f6; }

.filter_options ul#menu ul.submenu-filter1 li:hover > a{background:#1f5285;}
.filter_options ul#menu ul.filter_submenu, .filter_options ul#menu ul.submenu-filter1{ border-top:1px solid #999999; margin-top:30px; z-index:99; position:absolute;}
.filter_options ul#menu li.filter_options_li ul.filter_submenu{z-index:1002;}
.filter_options ul#menu li.filter_options_li a{z-index:1003 ;}


/* custom Tab panel */

.hide {position: absolute; top: -9999px; left: -9999px; }
.custom-tab-panel1 .list-wrap { width:100%;background:#fff; padding:0; margin:0px 0 0px 0; float:left;position:relative;}
.custom-tab-panel1 ul { list-style: none; margin:0px; }
.custom-tab-panel1 ul li a{ display:block;color: #000;}
.custom-tab-panel1 .nav {position:relative; margin-left:0px; padding-left:0px; width:100%;background:url(../images/tabs_bg.png) repeat-x left top;height:31px; border-bottom:1px solid #999999;}
.custom-tab-panel1 .nav li.nav-one{ position:relative;}
.custom-tab-panel1 .hl-last .nav_R{background:url(../images/nav_R.png) no-repeat right top; width:3px; height:30px; float:right;}
.custom-tab-panel1 .nav_L{background:url(../images/nav_L.png) no-repeat right top; width:3px; height:30px; float:left;}
.custom-tab-panel1 .nav li { float:left; margin:0; padding:0px; display:inline; padding:0px 0px 0px 0px;}
.custom-tab-panel1 .nav li a.current {background:url(../images/tabl_select_bg.png) repeat-x left top;border-radius:3px 3px 0px 0px;-moz-border-radius:3px 3px 0px 0px;-webkit-border-radius:3px 3px 0px 0px;position:relative;behavior: url(PIE.htc);  position:relative; border-bottom:1px solid #bab9b9; height:31px; }
.custom-tab-panel1 .nav li a{text-decoration:none;padding:0px 5px 0px 3px;color:#000;font-size:11px;font-weight:bold;text-align:center; border:0px; border-right:1px solid #b8b6b6; margin-top:2px; height:29px;}
.custom-tab-panel1 .nav li a:hover{background-color:#f8f8f8; border-bottom:1px solid #999999;}
.custom-tab-panel1 .nav li a:hover span { margin:0px;}
.custom-tab-panel1 .nav li a span {padding:8px 5px 6px 5px;margin:0px; font-size:11px;display:block;}
.custom-tab-panel1 li a.current{padding:0px 5px 0px 5px;color:#000;cursor:pointer;display:block; margin:0px 0px 0px 0px;position:relative; border:1px solid #999999; border-bottom:0;margin-left:-3px; } .custom-tab-panel1 li a.current:hover{ border-bottom:1px solid transparent;}
.custom-tab-panel1 li a.current span,.custom-tab-panel1 li a.current:hover span {padding:9px 5px 6px 5px;cursor:pointer;font-size:11px;font-weight:bold;}
.custom-tab-panel1 .nav li a:focus {padding:0px 5px 0px 5px;color:#666;cursor:pointer; font-size:20px;}
.custom-tab-panel1 .nav li.nav-one a.current{ padding: 0px 5px 0px 5px; margin-left:-3px;}
.custom-tab-panel1 .nav li.nav-one a:hover{padding:0 5px 0px 5px; margin-left:-2px;}
.custom-tab-panel1 .nav li.nav-one a:hover.current{ margin-left:-3px;}
.custom-tab-panel1 .nav .hl-last{ float:right;}

.custom-tab-panel1 .content-panel > div > div.x-tab-bar-body { display:none !important;} /* hide only the content tab panel tabs */

.custom-tab-panel1 .tabl_btm_bar{background-color:#b8b7b7; height:4px; margin-top:0px; border: 1px solid #999999; border-top:0px none;}
.custom-tab-panel1 .content-panel{ border:none;}

/* custom tab panel */



